{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-3 text-center">Produits</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">EntityID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for configurable in configurables %}
                <tr>
                    <td>{{ configurable.entityId }}</td>
                    <td>{{ configurable.name }}</td>
                    <td>{{ configurable.stock }}</td>
                    <td>
                        <a href="{{ path('admin.products.update', { 'id' : configurable.id}) }}" class="btn btn-info">Infos</a>
                        <a href="{{ path('admin.products.delete', { 'id' : configurable.id}) }}" class="btn btn-info">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

